<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="container">
      <p>Hi there, I am👇</p>
      <div class="inner-div">
        <% if(blogs.length > 0) { %> <% blogs.forEach(blog => { %>
          <a href="/blogs/<%= blog.id %>">
        <div class="content blogs">
          <div class="left">
            <img src="data:image/<%= blog.picture.contentType %>;base64,<%= blog.picture.data.toString('base64') %>" alt="my pic" />
            <p class="name"><%= blog.name %></p>
          </div>
          <div class="right">
            <h3><%= blog.title %></h3>
            <p class="bio"><%= blog.about %></p>
          </div>
        </div>
      </a>
        <% }) %> <% } else { %>
          <p>There are no blogs to display...</p>
          <% } %>
        </div>

      <div class="click">
        <p>Click below to add yours</p>
        <a href="/newblog">Add new blog</a>
      </div>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
